<footer class="container-fluid">
    <div
        class="row"
        style="
            background-color: #000;
            padding-top: 12px;
            padding-bottom: 10px;
            color: #cbcbcb;
        "
    >
        <div class="col-lg-2">
            <span>Copyright</span> <span>&copy;</span>
            <span class="full-year"></span>
        </div>
        <div class="col-lg-6" style="text-align: center">
            <span
                style="
                    border-right: solid 1px #ddd;
                    padding-right: 5px;
                    font-size: 16px;
                "
                ><b
                    ><a ui-sref="privacypolicy" style="color: #cbcbcb"
                        >Privacy Policy</a
                    ></b
                ></span
            >
            <span style="font-size: 16px"
                ><b
                    ><a ui-sref="termcondition" style="color: #cbcbcb"
                        >Terms & Conditions</a
                    ></b
                ></span
            >
        </div>
        <div class="col-lg-4" style="text-align: right">
            <span style="border-right: solid 1px #ddd; padding-right: 3px"
                ><a ui-sref="home" style="color: #cbcbcb">Home</a></span
            >
            <span style="border-right: solid 1px #ddd; padding-right: 3px"
                ><a ui-sref="about" style="color: #cbcbcb">About</a></span
            >
            <span style="border-right: solid 1px #ddd; padding-right: 3px"
                ><a ui-sref="printticket" style="color: #cbcbcb"
                    >Print Ticket</a
                ></span
            >
            <span
                ><a ui-sref="contact" style="color: #cbcbcb"
                    >Contact Us</a
                ></span
            >
        </div>
    </div>
</footer>
