{% extends '../base.html' %} {% load static %} {% block content %}
<div class="container py-6 min-view-height">
    <div class="row">
        <div class="col-md-3">
            <div>
                <p class="font-22">MAIN OFFICE NAIROBI</p>
                <p class="font-14">
                    Location: KPCU Building (Wakulima House), Ground Floor Along
                    Haile Selassie Avenue
                </p>
                <p class="font-14">Nairobi, Kenya</p>
                <p class="font-14">Phone No : 0709832000/301/302/303/305</p>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BIRONGO</div>
                <div>Phone No : 0768716224</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NYACHENGE</div>
                <div>Phone No : 0768716299</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KEHANCHA</div>
                <div>Phone No : 0768716304</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>SORI</div>
                <div>Phone No : 0768716308</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KATITO</div>
                <div>Phone No : 0768716312</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KISUMU STAGE</div>
                <div>Phone No : 0768716315</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NAKURU</div>
                <div>Phone No : 0768905245</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NDORI</div>
                <div>Phone No : 0768905248</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BIRONGO</div>
                <div>Phone No : 0768716224</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NYACHENGE</div>
                <div>Phone No : 0768716299</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KEHANCHA</div>
                <div>Phone No : 0768716304</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>SORI</div>
                <div>Phone No : 0768716308</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KATITO</div>
                <div>Phone No : 0768716312</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KISUMU STAGE</div>
                <div>Phone No : 0768716315</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NAKURU</div>
                <div>Phone No : 0768905245</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NDORI</div>
                <div>Phone No : 0768905248</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BIRONGO</div>
                <div>Phone No : 0768716224</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NYACHENGE</div>
                <div>Phone No : 0768716299</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KEHANCHA</div>
                <div>Phone No : 0768716304</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>SORI</div>
                <div>Phone No : 0768716308</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KATITO</div>
                <div>Phone No : 0768716312</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KISUMU STAGE</div>
                <div>Phone No : 0768716315</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NAKURU</div>
                <div>Phone No : 0768905245</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NDORI</div>
                <div>Phone No : 0768905248</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BIRONGO</div>
                <div>Phone No : 0768716224</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NYACHENGE</div>
                <div>Phone No : 0768716299</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KEHANCHA</div>
                <div>Phone No : 0768716304</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>SORI</div>
                <div>Phone No : 0768716308</div>
            </div>
            <div class="pb-2">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KATITO</div>
                <div>Phone No : 0768716312</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>KISUMU STAGE</div>
                <div>Phone No : 0768716315</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NAKURU</div>
                <div>Phone No : 0768905245</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>NDORI</div>
                <div>Phone No : 0768905248</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
            <div class="pb-4">
                <img
                    src="{% static 'images/ofc.png' %}"
                    class="loc-img"
                    alt="loc"
                />
                <div>BOMET</div>
                <div>Phone No : 0768716220</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
