{% extends '../base.html' %} {% load static %} {% block content %}
<div class="container py-6 min-view-height">
    <div class="row">
        <div class="text-center">
            <h3 class="print-ticket">Gallery</h3>
        </div>

        <div class="gallery">
            <div class="card">
                <img
                    src="{% static 'images/image3.jpg' %}"
                    alt="bus1"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image5.jpg' %}"
                    alt="bus2"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image6.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image8.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image9.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image10.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image17.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image22.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image25.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
            <div class="card">
                <img
                    src="{% static 'images/image32.jpg' %}"
                    alt="bus3"
                    class="gallery-image"
                />
            </div>
        </div>
    </div>
</div>
{% endblock %}
