{% extends '../base.html' %} {% load static %} {% block content %}
<div class="container py-6 min-view-height">
    <div class="row mb-4">
        <div class="col-mid">
            <div class="text-center">
                <h3 class="print-ticket">Manage Ticket</h3>
                <div class="font-18 py-2">
                    Please enter ticket details below to search
                </div>
                <form action="" method="get" class="flex gap-10" id="manageticket">
                    <input
                        type="text"
                        class="form-control"
                        id="ticket-number"
                        name="reference"
                        placeholder="Enter Ticket Number"
                        required
                    />
                    <select
                        class="form-select"
                        id="countrycode"
                        name="countrycode"
                        placeholder="Enter Ticket Number"
                        required
                    >
                        <option value="">Country Code</option>
                        <option value="+250">+250</option>
                        <option value="+254">+254</option>
                        <option value="+255">+255</option>
                        <option value="+253">+253</option>
                    </select>
                    <input
                        type="text"
                        class="form-control"
                        id="phone-number"
                        name="phone_number"
                        placeholder="Enter Phone Number"
                        required
                    />
                    <button class="btn-danger">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Ticket Number</th>
                    <th>Route</th>
                    <th>Passenger</th>
                    <th>Seat</th>
                    <th>Date Of Travel</th>
                    <th>Reschedule</th>
                    <th>Print</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.reference }}</td>
                    <td>{{ booking.trip.route.origin }} - {{ booking.trip.route.destination }}</td>
                    <td>{{ booking.passenger.first_name }} {{booking.passenger.last_name}}</td>
                    <td>{{ booking.seat.seat_number }}</td>
                    <td>{{ booking.date_of_travel }}</td>
                    <td>
                        <a href="/manageticket/{{ booking.id }}"><i class="fa-solid fa-calendar-days"></i></a>
                    </td>
                    <td><span><i class="fa-solid fa-print"></i></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
